server:
  port: 8080

spring:
  application:
    name: trust-fintech-server

  datasource:
    url: jdbc:h2:mem:trustfintechdb   # updated DB name
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console   # access via http://localhost:8080/h2-console

